[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
peewee = "*"
psycopg2 = "*"
falcon = "*"
hug = "*"
flask = "*"

[requires]
python_version = "3.7"
